POSTGRES_DB=

#set host postgres if running by docker else your host
POSTGRES_HOST=

POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_PORT=

REDIS_DSN=

PATH_TO_ML_MODEl=
PATH_TO_LABELS=

TEMP_MEDIA_FOLDER=
